# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# deliverable
build/
dist/
out/

# dependency
node_modules/

# env file
.env*
!.env.example

# log
*.tsbuildinfo

# misc
.DS_Store
*.pem
